@use '../styles/tokens' as t;

$input-font-size:clamp(0.795rem, 0.0084rem + 0.9322vw, 1.5rem);

@mixin base-input($height) {
  background-color: t.$color-contact-panel;
  padding: t.$label-padding;
  border-radius: t.$label-border-radius;
  border: t.$label-border;
  color: t.$label-text-color;
  height: $height;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  font-size: $input-font-size;
  &::placeholder {
    color: rgba(228, 196, 240, 0.5);
  }

  &:focus {
    outline: none;
    border: 1px solid t.$input-focus-border;
    box-shadow: 0 0 4px t.$input-focus-glow;
  }
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin underline-hover($color) {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  transition: width 0.3s ease, left 0.3s ease;
  background-color: $color;
}

@mixin sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}