
.theme-dark{
  --color-background: #1E1B2E;
  --color-card-bg: #2A263B;

  --color-button-bg: #3B335A;
  --color-button-text: #DAD7F0;

  --color-heading: #D6C9F1;
  --color-paragraph: #B4AEC4;

  --color-link: #A98CF2;
  --color-link-hover: #CBBDF7;

  --color-border: #3F3A52;
}
.theme-light {
  --color-background: #F4F1FA;     
  --color-card-bg: #FFFFFF;          
  --color-button-bg: #E3DDF5;        

  --color-heading: #2A263B;          
  --color-paragraph: #5E5874;        

  --color-link: #7D5FEF;            
  --color-link-hover: #5936D9;       

  --color-border: #D2CCE8;          
}