
.theme-dark{
  --color-background: #1E1B2E;
  --color-card-bg: #2A263B;

  --color-button-bg: #A98CF2;;
  --color-button-text: #DAD7F0;

  --color-heading: #D6C9F1;
  --color-paragraph: #B4AEC4;

  --color-link: #A98CF2;
  --color-link-hover: #CBBDF7;

  --color-border: #3F3A52;
  --color-text-highlight:#EBCB8B;
  --color-icon: #A69CCF;

  --color-contact-bg: #241f36;
  --color-contact-panel: #30294a;
  --color-input-bg:#5943a0b8;
  --margin-small:10px;
  --margin-medium:20px;
  --margin-big:30px
}
.theme-light {
  --color-background: #F4F1FA;     
  --color-card-bg: #FFFFFF;          
  --color-button-bg: #E3DDF5;        

  --color-heading: #2A263B;          
  --color-paragraph: #5E5874;        

  --color-link: #7D5FEF;            
  --color-link-hover: #5936D9;       

  --color-border: #D2CCE8;
  --color-text-highlight:#9A4D00;   
  --color-icon: #C0B4E9;     
  
    --color-contact-bg: #241f36;
  --color-contact-panel: #30294a;
  --color-input-bg:rgba(169, 140, 242, 0.07);

  --margin-small:10px;
  --margin-medium:20px;
  --margin-big:30px  
}

