@use '../../styles/tokens' as *;

$image-width:200px;
.mih2{
    color: var(--color-heading)
}
.introSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.presentationDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.presentationDiv p{
    margin-left: $margin-big;
    width: 100%;
}
.presentationDiv span,.presentationDiv a{
    color: $color-text-highligh;
}
.profilePhoto{
    height: $image-width;
    width: $image-width;
    border-radius: calc($image-width/2);
    border: 3px solid $color-heading;
}
.myProfile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin-top: calc($margin-big*2);
}
@media(max-width:1440px){
    .introSection{
        width: 80%;
    }
    .myProfile{
        width: 80%;
    }
}
.viteReactDiv{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.3rem;
    margin-bottom: $margin-medium   ;
}
.reactIcons{
    margin-right: 10px;
    font-size: 30px;
}