@use '../../styles/tokens' as *;

$padding-contact:30px;
.contactSection{
    display: flex;
    width: 80%;
    height: 550px;
    background-color: $color-contact-bg;
    padding: $padding-contact;
    border-radius: 30px;
    gap: 60px;
}
.contactFormDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.contactFormHeader{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.contactForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
.contactSubmitButton{
    margin-top: auto;
    justify-self: flex-end;
    background-color:$color-button-bg;
    padding: 5px;
    border-radius: 5px;
    color: $color-card-bg;
    font-weight: bold;
    border: 1px solid transparent;
}
.contactInfo{
    display: flex;
    flex-direction: column;
    background-color:$color-contact-panel ;
    width: 50%;
    padding: $padding-contact;
    border-radius: 15px;
    gap: 20px;
}
.contactIcon{
    padding: 12px 6px 12px 6px;
    background-color: #241f36;
    display: inline;
    border-radius: 20px;
    margin-right: 5px;
}
.contactIcon svg{
    width: 30px;
    height: 30px;
    object-fit: contain;
    font-size: 2em;
}