@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;
$input-height: clamp(2rem, -0.5714rem + 2.8571vw, 4rem);
$label-padding: 1rem;
$label-border-radius: 0.5rem;
$label-border: 1px solid transparent;
$label-text-color: rgb(228, 196, 240);
$input-focus-border: #CBBDF7;
$label-font-size:clamp(0.6rem, -0.1714rem + 0.8571vw, 1.2rem);
$input-focus-glow: #A98CF2aa;
$input-error: #D94F70;


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $label-text-color;
  box-shadow: 0 0 0 1000px $color-contact-panel inset;
  font-size: $input-font-size;

}


.labeledInputDiv {
  display: flex;
  flex-direction: column;
}


.inputLabel {
  color: $color-button-text;
  font-size: $label-font-size;
  margin-bottom: 0.2rem;
}

.contactInput {
  @include base-input($input-height);
}

.textArea {
  @include base-input( calc(#{$input-height} * 3.5));
  resize: none;
  
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #A98CF2;
    border-radius: 4px;
    border: 2px solid transparent;
  }
}


.errorInput {
  border: 1px solid $input-error;
}